.icon-info {
  display: inline-flex;
  /* align-items: center; */
  font-size: 0.8rem;
  gap: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  background: #fff;
  color: var(--color-primary-text);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03);
  text-decoration: none;
}

.icon-info__icon {
  display: block;
}

.icon-info__text {
  font-size: 0.8rem;
}
